<a href="https://colab.research.google.com/github/exalteded/DSPS_ejones/blob/master/HW4/GalrotCurve.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import pylab as pl
%pylab inline


#package I will use for constants and units conversion 
import astropy

Populating the interactive namespace from numpy and matplotlib


**SOLVE FOR V^2 Proportional to 1/r**

F= Ma
a = dv/dt or v^2/r (rotational) from physics classroom
F = GmM/r^2

Replace v^2/r for a 

M(v^2/r) = GmM/r^2 (rs cancel Ms cancel)

v^2 = Gm/r where Gm is a constant

so v^2 is proportional to 1/r

In [0]:
mw = pd.read_csv("https://raw.githubusercontent.com/fedhere/DSPS/master/HW4/mw.csv", comment = "#", names = ["R(km/s)", "V", "St.dev.", "St.error"])
m31 = pd.read_csv("https://raw.githubusercontent.com/fedhere/DSPS/master/HW4/m31.csv", comment = "#", names = ["R(km/s)", "V", "St.dev.", "St.error"])

In [18]:
m31.head() #test names

   R(km/s)        V  St.dev.  St.error
0    0.100  183.939    0.000     0.000
1    0.120  190.710   10.265    12.191
2    0.144  204.141   22.634    21.808
3    0.173  207.601    4.573     4.200
4    0.207  210.188    3.943     3.258

In [19]:
m31.describe()

           R(km/s)           V     St.dev.   St.error
count    55.000000   55.000000   55.000000  55.000000
mean    205.853182  226.079255   55.034818  16.165855
std     415.523904   42.799892   49.254792  14.876951
min       0.100000  121.974000    0.000000   0.000000
25%       1.177000  208.894500   11.945500   3.224000
50%      13.737000  229.124000   30.697000  12.065000
75%     161.675000  244.102500   99.980000  23.641000
max    1887.071000  414.942000  147.835000  54.110000

In [21]:
mw.head() # test names

  R(km/s)        V  St.dev.  St.error
0  R(kpc)  V(km/s)  St.dev.  St.error
1   0.010  119.061   41.832    32.714
2   0.012  115.268   35.199    17.100
3   0.014  117.392   35.152    14.429
4   0.017  118.475   35.252    14.870

In [0]:
a_distance = 778
#andromeda distance = 778 kpc +/- 33
a_apparents = 3.167 
# andromeda apparent size in degrees

In [23]:
# note : by PEP8 standards the import should be at the top, I leave it here for hyou to see that I am using astropy.units now
from astropy import units as u
m31angS = a_apparents * u.degree
print("Angular Size of the visible component of Andromeda: {:.2f}".format(m31angS.to(u.rad)  ))

Angular Size of the visible component of Andromeda: 0.06 rad

In [0]:
distanceM31_std = 33 *u.kpc
m31_dist_kpc = a_distance* u.kpc

In [29]:
print("Distnance of the visible component of Andromeda...: ", m31_dist_kpc)
print("uncertainty of the visible component of andromeda...",distanceM31_std)

Size of the visible component of Andromeda...:  778.0 kpc
uncertainty of the visible component of andromeda... 33.0 kpc

In [33]:
print("Size of the visible component of Andromeda...: ", m31_dist_kpc*m31angS.to(u.rad))
new_err = m31_dist_kpc*m31angS.to(u.rad)*np.sqrt((distanceM31_std/m31_dist_kpc)**2)
print("Uncertainty of size of the visible component of andromeda...:", new_err)

Size of the visible component of Andromeda...:  43.0036212254938 kpc rad
Uncertainty of size of the visible component of andromeda...: 1.8240610545517937 kpc rad