<a href="https://colab.research.google.com/github/exalteded/DSPS_ejones/blob/master/KS_earthquakes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from __future__ import print_function, division
import pandas as pd
import pylab as pl
import scipy as sp
from scipy import stats
%pylab inline
pl.style.use("https://raw.githubusercontent.com/fedhere/DSPS/master/fbb.mplstyle")

Populating the interactive namespace from numpy and matplotlib

1 What is the test's Null Hypothsis that the K-S test tests?

## that two different empyrical data distrbution sets come from the same distribution in this case labeled k and l KS > dkl

2 What is the "statistic" or "pivotal quantity" that the test uses?

the pivotal quanitity is the distribution given by the probability density. Which serves to test the scaling function. (https://imgur.com/a/uJlQU7G), listed here formula (6) in corral 2018

3 What does the probability distribution of this statistic depend on? 

It depends on the gamma function and each value of the distribution xn being independant of eachother.

In [0]:
quakes_data = pd.read_csv("https://raw.githubusercontent.com/fedhere/DSPS/master/HW3/earthquakes.csv", sep = " ",warn_bad_lines=True, skipinitialspace= True)
#there were some random variable spaces so skipinitial and sep were used and i added in the warn_bad_lines to warn me if there were any NaN in the 70k lines I can't see in the preview

In [20]:
quakes_data.shape

(70798, 13)

In [21]:
quakes_data.head()

   #YYY/MM/DD  HH:mm:SS.ss  ET GT   MAG  M  ...      LON  DEPTH  Q   EVID  NPH  NGRM
0  1984/01/01  01:30:57.52  eq  l  2.02  c  ... -116.433    1.6  C  28255   13    17
1  1984/01/01  05:31:34.16  eq  l  2.12  c  ... -116.295    5.4  C  28259   18    42
2  1984/01/01  06:59:05.14  eq  l  2.43  c  ... -117.628    5.6  C  28260   13    30
3  1984/01/01  11:10:25.29  eq  l  2.07  c  ... -116.780   13.8  C  28270   19    40
4  1984/01/01  19:38:19.79  eq  l  2.13  c  ... -116.290    2.7  C  28553   40    49

[5 rows x 13 columns]

In [23]:
quakes_data.describe()

                MAG           LAT  ...           NPH          NGRM
count  70798.000000  70798.000000  ...  70798.000000  70798.000000
mean       2.417826     33.977749  ...     30.424376    175.725049
std        0.407683      1.156586  ...     22.374143    226.196774
min        2.000000     30.094830  ...      0.000000      0.000000
25%        2.120000     33.061000  ...     15.000000     59.000000
50%        2.300000     34.056750  ...     24.000000    111.000000
75%        2.590000     34.591000  ...     39.000000    211.000000
max        7.100000     37.985500  ...    406.000000   3815.000000

[8 rows x 7 columns]

In [27]:
quakes_data.columns

Index(['#YYY/MM/DD', 'HH:mm:SS.ss', 'ET', 'GT', 'MAG', 'M', 'LAT', 'LON',
       'DEPTH', 'Q', 'EVID', 'NPH', 'NGRM'],
      dtype='object')

In [0]:
quakes3columns = quakes_data[["#YYY/MM/DD", "HH:mm:SS.ss","MAG"]]

In [0]:
quakes3columns.columns = ["Date", "Time", "Magnitude"]

In [34]:
quakes3columns.describe()

          Magnitude
count  70798.000000
mean       2.417826
std        0.407683
min        2.000000
25%        2.120000
50%        2.300000
75%        2.590000
max        7.100000

In [36]:
quakes3columns.head()

         Date         Time  Magnitude
0  1984/01/01  01:30:57.52       2.02
1  1984/01/01  05:31:34.16       2.12
2  1984/01/01  06:59:05.14       2.43
3  1984/01/01  11:10:25.29       2.07
4  1984/01/01  19:38:19.79       2.13

In [39]:
quakes3columns.Time.dtype, quakes3columns.Date.dtype

(dtype('O'), dtype('O'))

In [53]:
quakes3columns['Date'] > pd.to_datetime("1984/01/01") & quakes3columns['Date'] < pd.to_datetime("1992/01/01")

TypeError: ignored

In [54]:
quakes3columns['Date'] > pd.to_datetime("1984/01/01") & quakes3columns['Date'] < pd.to_datetime("1992/01/01")
#well I'm stuck got farther than I thought let's see if there's any more questions i can answer

TypeError: ignored